<!DOCTYPE html>
<% include admin_top %>
<div id="wrapper">
<% include admin_menu %>
    <div id="page-wrapper">
            <center><div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Quản lý phim</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </center>
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">                       
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size: 11px">
                                <thead>
                                    <tr style="text-align: center; font-weight: bold;">
                                        <td>Tên phim</td>
                                        <td>Ảnh</td>
                                        <td>IMDB</td>
                                        <td>Thời lượng</td>
                                        <td>Đạo diễn</td>
                                        <td>Diễn viên</td>
                                        <td>Ngôn ngữ</td>
                                        <td>Ngày khởi chiếu</td>
                                        <td>Định dạng</td>
                                        <td>Lứa tuổi</td>
                                        <td>Thể loại</td>
                                        <td>Trạng thái</td>
                                        <td>Thao tác</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <% movie.forEach(function(item){%>
                                    <tr class="odd gradeX" style="text-align: center;">
                                        <td><input type="hidden" id="id-<%=item.idmovie%>" value="<%=item.idmovie%>">
                                            <input type="hidden" id="name-<%=item.name%>" value="<%=item.name%>"><%=item.name%>
                                            <input type="hidden" id="description-<%=item.idmovie%>" value="<%=item.description%>"></td>
                                        <td><input type="hidden" id="image-<%= item.idmovie %>" value="<%= item.image %>"> <img src="<%= item.image %>" height="50px" width="50px"></td>
                                        <td><input type="hidden" id="imdb-<%=item.idmovie%>" value="<%= item.imdb %>"><%= item.imdb %></td>
                                        <td><input type="hidden" id="duration-<%=item.idmovie%>" value="<%= item.duration %>"><%= item.duration %> Phút</td>
                                        <td><input type="hidden" id="director-<%=item.idmovie%>" value="<%= item.director %>"><%= item.director %></td>
                                        <td><input type="hidden" id="actornactress-<%=item.idmovie%>" value="<%= item.actornactress %>"><%= item.actornactress %></td>
                                        <td><input type="hidden" id="language-<%=item.idmovie%>" value="<%= item.language %>"><%= item.language %>
                                            <input type="hidden" id="nation-<%=item.idmovie%>" value="<%= item.nation %>"></td>
                                        <td><input type="hidden" id="startday-<%=item.idmovie%>" value="<%= item.startday %>"><%= item.startday %></td>
                                        <td><input type="hidden" id="format-<%=item.idmovie%>" value="<%=item.format%>">
                                            <%if(item.format=='1'){%>
                                                2D
                                            <%}else{%>
                                                3D
                                            <%}%>
                                        </td>
                                        <td><input type="hidden" id="urltrailer-<%=item.idmovie%>" value="<%= item.urltrailer %>">
                                            <input type="hidden" id="ages-<%=item.idmovie%>" value="<%=item.ages%>">
                                            <%if(item.ages=='1'){%>
                                                P
                                            <%}if(item.ages=='2'){%>
                                                C13
                                            <%}if(item.ages=='3'){%>
                                                C16
                                            <%}if(item.ages=='4'){%>
                                                C18
                                            <%}%>
                                        </td>
                                        <td><input type="hidden" id="category-<%=item.idmovie%>" value="<%=item.category%>"><%=item.category%></td>
                                        <td><input type="hidden" id="content-<%=item.idmovie%>" value="<%=item.content%>">
                                          <input type="hidden" id="status-<%=item.idmovie%>" value="<%=item.status%>">
                                            <%if(item.status=='1'){%>
                                                Đang chiếu
                                            <%}if(item.status=='2'){%>
                                                Sắp chiếu
                                            
                                            <%}if(item.status=='0'){%>
                                                Ngừng chiếu
                                            <%}%>
                                        </td>
                                        <td>
                                            <a href="/deletefilm?id=<%=item.idmovie%>"><span class="fa fa-remove" title="Xóa" onclick="return Confirm_del()"></span></a>
                                            <button class="fa fa-edit" title="Cập nhật thông tin" onclick="return setData('<%=item.idmovie%>','<%=item.name%>')"></button>
                                        </td>

                                    </tr>
                                    <%});%>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->  
                            <script >
                            function Confirm_del(){
                                        var result = confirm('Bạn chắc chắn muốn xóa?');
                                        return result;
                                    }
                            function setData(id,namefilm){
                                            document.getElementById('docreate').value='update';
                                            document.getElementById('namefilm').readOnly = true;
                                            document.getElementById('description').focus();
                                            document.getElementById('id').value=document.getElementById('id-'+id).value;
                                            document.getElementById('namefilm').value=document.getElementById('name-'+namefilm).value;
                                            document.getElementById('description').value=document.getElementById('description-'+id).value;
                                            document.getElementById('imdb').value=document.getElementById('imdb-'+id).value;
                                            document.getElementById('duration').value=document.getElementById('duration-'+id).value;
                                            document.getElementById('director').value=document.getElementById('director-'+id).value;
                                            document.getElementById('actornactress').value=document.getElementById('actornactress-'+id).value;
                                            document.getElementById('language').value=document.getElementById('language-'+id).value;
                                            document.getElementById('nation').value=document.getElementById('nation-'+id).value;
                                            document.getElementById('startday').value=document.getElementById('startday-'+id).value;
                                            document.getElementById('format').value=document.getElementById('format-'+id).value;
                                            document.getElementById('urltrailer').value=document.getElementById('urltrailer-'+id).value;
                                            document.getElementById('ages').value=document.getElementById('ages-'+id).value;
                                            document.getElementById('category').value=document.getElementById('category-'+id).value;
                                            document.getElementById('content').value=document.getElementById('content-'+id).value;
                                            document.getElementById('status').value=document.getElementById('status-'+id).value;  

                                        }
                            function Reset(){
                                            document.getElementById('namefilm').focus();
                                            document.getElementById('docreate').value='create';
                                            document.getElementById('namefilm').readOnly = false;
                                        }
                            function checkData(){


                                    var film = document.getElementById('namefilm').value;
                                    var ac=document.getElementById('docreate').value;

                                    if(film != '' && ac=='create'){
                                        if(film == document.getElementById('name-'+film).value){
                                            alert('Tài khoản đã tồn tại!');
                                            document.getElementById('namefilm').focus();
                                            return false; 
                                                 }
                                            }

                                    if(document.getElementById('namefilm').value==''){
                                        alert('Không được để trống tên phim');
                                        document.getElementById('namefilm').focus();
                                        return false;
                                    }
                                    if(document.getElementById('imdb').value==''){
                                        alert('Không được để trống imdb');
                                        document.getElementById('imdb').focus();
                                        return false;
                                    }
                                    if(document.getElementById('duration').value==''){
                                        alert('Không được để trống thời lượng');
                                        document.getElementById('duration').focus();
                                        return false;
                                    }
                                    if(document.getElementById('director').value==''){
                                        alert('Không được để trống tên đạo diễn');
                                        document.getElementById('director').focus();
                                        return false;
                                    }
                                    if(document.getElementById('actornactress').value==''){
                                        alert('Không được để trống tên diễn viên');
                                        document.getElementById('actornactress').focus();
                                        return false;
                                    }
                                    if(document.getElementById('language').value==''){
                                        alert('Không được để trống ngôn ngữ');
                                        document.getElementById('language').focus();
                                        return false;
                                    }
                                    if(document.getElementById('nation').value==''){
                                        alert('Không được để trống quốc gia');
                                        document.getElementById('nation').focus();
                                        return false;
                                    }
                                    if(document.getElementById('startday').value==''){
                                        alert('Không được để trống ngày khỏi chiếu');
                                        document.getElementById('startday').focus();
                                        return false;
                                    }
                                    if(document.getElementById('format').value=='0'){
                                        alert('Không được để trống định dạng');
                                        document.getElementById('format').focus();
                                        return false;
                                    }
                                     if(document.getElementById('urltrailer').value==''){
                                        alert('Không được để trống link trailer');
                                        document.getElementById('urltrailer').focus();
                                        return false;
                                    }
                                     if(document.getElementById('ages').value=='0'){
                                        alert('Không được để trống lứa tuổi');
                                        document.getElementById('ages').focus();
                                        return false;
                                    }
                                     if(document.getElementById('category').value==''){
                                        alert('Không được để trống thể loại');
                                        document.getElementById('category').focus();
                                        return false;
                                    }
                                    
                                     if(document.getElementById('content').value==''){
                                        alert('Không được để trống nội dung');
                                        document.getElementById('content').focus();
                                        return false;
                                    }
                                     if(document.getElementById('status').value=='0'){
                                        alert('Không được để trống trạng thái!');
                                        document.getElementById('status').focus();
                                        return false;  
                                    }

                                }
                            </script>
                            
                            <div class="well">
                                    <form action="/filmsave" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="id" id="id">
                                        <input type="hidden" name="docreate" id="docreate" value="create">
                                            <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Tên phim*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-bookmark fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="namefilm" id="namefilm"  placeholder="Nhập vào tên phim"/>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Mô tả*</label>
                                                <div class="cols-sm-10">
                                                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Chỉ số IMDB*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="imdb" id="imdb"  placeholder="Nhập vào chỉ số imdb"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Ảnh*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        </script>
                                                        <span class="input-group-addon"><i class="fa fa-image fa-lg" aria-hidden="true"></i></span>
                                                        <input type="hidden" name="image1" id="image1" class="form-control" value="">
                                                        <input type="file" class="form-control" name="image" id="image" accept="image/*" onchange="setImg()"/>
                                                    </div>
                                                    <script>
                                                            function setImg(){                              
                                                                document.getElementById('image1').value = document.getElementById('image').value;
                                                            }
                                                        </script>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Thời lượng phim*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></span>
                                                        <input type="number" class="form-control" name="duration" id="duration"  placeholder="Nhập vào thời lượng phim"/>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="email" class="cols-sm-2 control-label">Đạo diễn*</label>
                                                <div class="cols-sm-10">                                                    
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-male fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="director" id="director"  placeholder="Nhập vào tên đạo diễn phim"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="cols-sm-2 control-label">Diễn viên*</label>
                                                <div class="cols-sm-10">                                                    
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-male fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="actornactress" id="actornactress"  placeholder="Nguyễn Văn A , Nguyễn Văn B"/>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Ngôn ngữ*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-sign-language fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="language" id="language"  placeholder="Nhập vào ngôn ngữ phim"/>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Quốc gia*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-circle-o fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="nation" id="nation"  placeholder="Nhập vào tên quốc gia"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Ngày khỏi chiếu*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-hourglass-start fa-lg" aria-hidden="true"></i></span>
                                                        <input type="date" class="form-control" name="startday" id="startday"  placeholder="ngày tháng năm"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label for="email" class="cols-sm-2 control-label">Định dạng phim*</label>
                                                <div class="cols-sm-10">                                                    
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-suitcase fa-lg" aria-hidden="true"></i></span>
                                                        <select class="form-control" name="format" id="format"> 
                                                            <option value="0">--Chọn--</option>
                                                            <option value="1">2D</option>
                                                            <option value="2">3D</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Link Trailer*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-video-camera fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="urltrailer" id="urltrailer"  placeholder="nhập vào link trailer phim"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label for="email" class="cols-sm-2 control-label">Lứa tuổi*</label>
                                                <div class="cols-sm-10">                                                    
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-dot-circle-o fa-lg" aria-hidden="true"></i></span>
                                                        <select class="form-control" name="ages" id="ages"> 
                                                            <option value="0">--Chọn--</option>
                                                            <option value="1">P</option>
                                                            <option value="2">C13</option>
                                                            <option value="3">C16</option>
                                                            <option value="4">C18</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Thể loại*</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-file-o fa-lg" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="category" id="category"  placeholder="hành động , tình cảm "/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Nội dung*</label>
                                                <div class="cols-sm-10">
                                                    <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                                                </div>
                                                <div class="form-group">
                                                <label for="email" class="cols-sm-2 control-label">Trạng thái*</label>
                                                <div class="cols-sm-10">                                                    
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
                                                        <select class="form-control" name="status" id="status"> 
                                                            <option value="0">--Chọn--</option>
                                                            <option value="1">Đang chiếu</option>
                                                            <option value="2">Sắp chiếu</option>
                                                            <option value="2">Ngừng chiếu</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                         <div class="form-group">
                                                <table style="width: 100%;">
                                                <tbody><tr>
                                                    <td style="text-align: left;padding: 10px">
                                                        <button type="submit" id="btn_ok" class="btn btn-primary btn-lg btn-block login-button"onclick="return checkData()">OK</button>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <button type="reset" id="btn_re" class="btn btn-primary btn-lg btn-block login-button" onclick="return Reset()">Reset</button>
                                                    </td>
                                                </tr></tbody>
                                            </table>
                                        </div>
                                    </form>                           
                            </div>                         
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
    </div>

</div>
<% include admin_footer %>